This is a specification for just 1 function: that gaussian elimination is an inverse.

To properly add imports: add leansearchclient as a dependency and `import LeanSearchClient` to use `#search` like `#eval`. It's how you can find theorems and lemmas.

example:

```lean
-- #search queries must end with a period
#search "nonsingular."
-- loogle uses type notation not strings
#loogle List ?a -> ?a

```

reward shaping list: [
 "get import order right",
]

If a section of the book is inappropriate to translate (like chapter 1 on C programming language conventions), extract any relevant specs and leave it as prose in verso.

